.documentList {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button {
  color: rgb(232, 0, 0);
  margin-top: 10px;
  font-size: 24px;
  padding: 14px 20px;
  border: 1px solid #631414;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  color: #61dafb;
}
